{% extends 'bonus_card/base.html' %}
{% load static %}

{% block content %}
	    <div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">num: {{ card.card_num }}</h5>
			    <h6 class="card-subtitle mb-2 text-muted">serial: {{ card.serial_num }}</h6>
			    <p class="card-text">create: {{ card.date_creation }}</p>
			    <p class="card-text">end: {{ card.date_end }}</p>
			    <p class="card-text">activate: {{ card.activate }}</p>
			    <p class="card-text">overdue: {{ card.overdue }}</p>
				  {% if card.activate %}
			      <a href="{% url 'bonus_card:deactivate' pk=card.pk %}" class="card-link">deactivate</a>
				  {% else %}
				    <a href="{% url 'bonus_card:activate' pk=card.pk %}" class="card-link">activate</a>
				  {% endif %}
				  <a href="{% url 'bonus_card:delete' pk=card.pk %}" class="card-link">delete</a>
			  </div>
			</div>
			<ul>
				<t3>Shopping list</t3>
				{% for buy in buys %}
					<li>{{ buy }}</li>
				{% endfor %}
			</ul>
{% endblock content %}