{% extends 'bonus_card/base.html' %}
{% load static %}

{% block content %}
		{% for card in cards %}
	    <div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">num: {{ card.card_num }}</h5>
			    <h6 class="card-subtitle mb-2 text-muted">serial: {{ card.serial_num }}</h6>
			    <p class="card-text">create: {{ card.date_creation }}</p>
			    <p class="card-text">end: {{ card.date_end }}</p>
			    <p class="card-text">activate: {{ card.activate }}</p>
			    <a href="{{ card.get_absolute_url }}" class="card-link">Card link</a>
			    <a href="#" class="card-link">Another link</a>
			  </div>
			</div>
		{% endfor %}
<div class="paginator">
	{% if cards.has_previous %}
		<a class="pagin-link" href="?page={{ cards.previous_page_number }}">&laquo;</a>
	{% endif %}
	{% for page in cards.paginator.page_range %}
		{% if cards.number == page %}
			<a class="pagin-link-selected" href="?page={{ page }}">{{ page }}</a>
		{% else %}
			<a class="pagin-link" href="?page={{ page }}">{{ page }}</a>
		{% endif %}
	{% endfor %}
	{% if cards.has_next %}
		<a class="pagin-link" href="?page={{ cards.next_page_number }}">	&raquo;</a>
	{% endif %}
</div>
{% endblock content %}